# Python
__pycache__/
*.py[cod]
**/__pycache__/
.env
venv/
__pycache__/
*.pyc

# Virtual Environment
venv/
backend/venv/

# Environment Variables
.env

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log